
       @font-face {
            font-family: 'Bubble';
            src: url('Double_Bubble_shadow.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
        }

       .container {
            position: relative;
            height: 100vh; /* Full viewport height for demonstration */
        }

        #SB {
            font-family: 'Bubble', cursive;
            font-size: 30px;
            border-style: ridge;
            position: absolute;
            top: 43%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 10px 20px;
            background-color: transparent;
            border-radius: 10px;
            cursor: pointer;
        }



        #Title {
            font-size: 100px;
            text-align: center;
            font-family: 'Bubble', cursive;
            color: #333;
        }

        #SB:hover
        {
            background-color: white;
        }

